**.log
/_down
/.mixin.out
/betweenlands_gallery
/Illegal_Clients
/llibrary
/logs
/saves
/screenshots
/crafttweaker.log
/MinecraftDir12.rar
/options.txt
/servers.dat
/usercache.json
/usernamecache.json
/mods/1.12.2
/mods/memory_repo
/mods/TheBetweenlands-3.7.3-universal.jar
/structurize
/structures/schematics
/scripts/.zsrc
/optionsof.txt
/optionsshaders.txt
/local/ftbutilities
/shaderpacks/BSL_v8.0.01.zip.txt
/config/jei/worldSettings.cfg
/BotaniaVars.dat
/config/splash.properties
/backups
/config/AppliedEnergistics2/items.csv
/Xaero**
/config/xaerominimap.txt
/config/xaeropatreon.txt
/config/xaeroworldmap.txt
/mods/_probe-0.1.24.jar
/mods/OptiFine_1.12.2_HD_U_G5_MOD.jar
/crash-reports
/scripts - kopia