**.log
/_down
/.mixin.out
/betweenlands_gallery
/Illegal_Clients
/llibrary
/local
/logs
/saves
/screenshots
/crafttweaker.log
/MinecraftDir12.rar
/options.txt
/servers.dat
/usercache.json
/usernamecache.json
/mods/1.12.2
/mods/memory_repo
/mods/TheBetweenlands-3.7.3-universal.jar
/structurize
/structures/schematics
/scripts/.zsrc